<p>copies works!</p>
 <!-- bg-[url(/schlogo.png)] -->



<!-- // "assets": [
            //   {
            //     "glob": "**/*",
            //     "input": "public"
            //   }
            // ], -->



            
    <!-- <div>
      The world-acclaimed, Grammy-nominated Queen of Dancehall and Reggae artiste, Grace Latoya Hamilton, popularly known as Spice, last Friday, donated essential items to students of three basic schools.

The donations in the La Dade Kotopon Municipality in Accra were undertaken in collaboration with the MYO Global Foundation.

It highlights both organisations commitment to fostering educational development in underserved communities.

As part of its dedication to early childhood education, MYO Global partnered with Spice to provide much-needed educational resources to students at La Anglican Basic School.

The beneficiary schools included La Anglican 1 Junior High School (JHS), La Anglican 2 JHS and Anglican AME A Primary School.

During the donation ceremony, Spice, who rose from humble beginnings in Old Briton, Jamaica, to achieve international acclaim, shared her journey with the students.

She said, “Education opened doors for me that I never imagined possible. It is crucial that we invest in these young minds and provide them with the tools they need to succeed.”

The donation included school uniforms for students in need, new designer school shoes to encourage proper school attendance and educational materials such as whiteboards.

Others were essential hygiene supplies, nutritional snacks for students and a cash donation to further support the schools.


Sarah Matey, Headmistress of La Anglican Basic School, expressed her heartfelt gratitude during the ceremony.
    </div> -->













<!-- 
    
<div class="overflow-hidden">
   

 
    <div class="relative w-full h-screen overflow-hidden">
  Background video
  <video autoplay muted loop playsinline preload="auto" class="absolute top-0 left-0 w-full h-full object-cover -z-10">
    <source src="drone1.mp4" type="video/mp4" />
  </video>
  



      <div class=" bg- blue-800 h-20 z-10">
       <div class="text-red-500 flex justify-between mx-20 relative top-6 ">

         SCHOOL LOGO
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2 text-white">Anglosa 194</p>
        </div>


        <div class="flex gap-4 ">
         <a routerLink="/homepage" 
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
         >
         Home Page
        </a>
         <a routerLink="/aboutlayout"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
         >
         About Us
        </a>

        <a routerLink="/gallery"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Gallery
        </a>

          <a routerLink="/constitution"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Constitution
        </a>

        <a routerLink="/location"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Location
        </a>

        <a (click)="scrollToContact()"
         class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base cursor-pointer"
         >
            Contact
        </a>

         </div>

         <button class="flex justify-center items-center bg-red-500 text-white font-semibold w-20 h-8 rounded-lg border">
            Join
         </button>
       </div>
    </div>

     Content over the video
  <div class="relative z-10 flex flex-col items-center justify-center h-full">
     <div class="flex justify-center ">
    <button (click)="theLogo()">
    <img src="schlogo1.png" class="transition-transform duration-500 hover:scale-110">
    </button>
    </div>
    <h1 class="text-white text-4xl font-bold mb-20 animate-ping-slow">Welcome to Anglosa 194<br/><p class="flex justify-center">Site</p></h1>
  </div>

</div> 


    <div  class="flex gap-20 justify-center mx-4">
    <div  appScrollSlide [from]="'left'" [threshold]="0.2" class="text-center mt-20 mb-10 border-2 rounded-lg shadow-lg ">
        <p class="font-bold text-[35px] mx-2"><span class="text-yellow-400">La Anglican <span class="text-black">1JHS</span></span><span class="text-purple-500"> Year Group</span><br/><span class="text-green-600">Association</span></p> 
        <p class="mx-2">The Anglican 1 JSS Year Group Association (Anglosa 194) is an association<br/> 
        that brings together all “1994 student” of La Anglican 1 JSS and creates for<br/> 
        them a platform that will promote their common interests and<br/> 
        bring development and progress to La Anglican 1 JSS and quality<br/> 
        education in Ghana, and at the same time provide<br/>  
        for other related matters connected with the wellbeing of<br/>  
        members, their associates and La Anglican 1 JSS.
        </p>
    </div>


    <div appScrollSlide [from]="'right'" [threshold]="0.2" class="text-center mt-20 mb-10 border-2 rounded-lg shadow-lg  ">
        <p class="font-bold text-[35px] mx-2"><span class="text-green-600">La Anglican <span class="text-black">1JHS</span></span><span class="text-purple-500"> Year Group</span><br/><span class="text-yellow-400">Website</span></p> 
        <p class="mx-2">We are delighted to launch the MOSA portal as a safe space for our Old<br/>
          Scholars community to connect online with each other and the School.<br/> 
         The portal was initiated by my predecessor and the Foundation trustees,<br/> 
         and it is a pleasure to see the dream realised. I encourage Old Scholars far<br/>
         and wide to register and enjoy making this portal their own.
         </p>
    </div>
    </div>
</div>

         FOOTER
<div id="contact" class="bg-gray-600 mt-10 h-full flex justify-center items-center p-4 text-white">
    <div class="flex gap-10">
        <div>
            <p class="font-bold">Contact Numbers:</p>
            <p class="mt-2">055028888888</p>
        </div>
        <div>
         <h1 class="font-bold">Address:</h1>
          <p class="mt-2">P. O. Box A64</p>
          <p>La, Accra, Ghana</p>
       </div>
       <div>
        <h1 class="font-bold">Email & Social Handles:</h1>
        <p class="mt-2">Email: info&#64;anglosa194.com</p>
        <p>Connect with us on socia media</p>
       </div>
    </div>
    <div class="flex relative left-[8rem] space-x-10">
        <div class="space-x-10">
        <a href=""><img src="/facebook.png" class="w-10 "></a>
         <a href="https://wa.me/+233272062942" target="_blank" rel="noopener">
          <img src="/whatsapp.png" class="w-10">
         </a>

        </div>
        <div class="space-x-10">
        <a href=""><img src="/instagram.png" class="w-10 "></a>
        <a href=""><img src="/twitter.png" class="w-10 "></a>
        </div>
    </div>
</div> -->












<!-- 

       EMAIL 
      <div class="bg-red-600 py-1 text-white">
     <a href="mailto:formula865@yahoo.com" class="flex mx-20 items-center">
    <span class="material-symbols-outlined">mail</span>
    <span class="tracking-tight font-bold text-sm ml-1">
      anglosa194&#64;yahoo.com.gh
    </span>
  </a>
</div>


 <div class=" bg -blue-800 h-20 z-10 ">

       <div class="bg- blue-800 h-16 md:h-20 z-10 flex items-center px-4 md:px-20">
    <div class="flex justify-between items-center w-full text- red-500">
      

       SCHOOL LOGO
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2">Anglosa 194</p>
        </div>

      Links
      <div class="hidden md:flex gap-4">
        <a routerLink="/homepage"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Home Page
        </a>
        <a routerLink="/aboutlayout"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          About Us
        </a>
        <a routerLink="/gallery"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Gallery
        </a>
        <a routerLink="/constitution"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Constitution
        </a>
         <a routerLink="/location"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-black border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Location
        </a>
        <a (click)="scrollToContact()" class="text-black cursor-pointer px-3 py-2 text-sm md:text-base">
          Contact
        </a>
      </div>

      Join Button
      <button class="bg-red-500 text-white font-semibold px-4 py-2 rounded-lg border text-sm md:text-base">
        Join
      </button>
    
  </div>
    </div>



<div class="bg-[url('/grouppic.jpg')] bg-no-repeat bg-center h-[25rem]">
<div class="flex gap-10 justify-center items-center relative top-40 font-bold ">
<a routerLink="/the-school">
    <img src="schlogo1.png" class="bg-black rounded-xl w-40 h-[8rem] shadow-red-500 shadow-2xl animate-bounce"><p class="text-red-800 text-lg text-center animate-bounce">The School</p></a>
    <a routerLink="/year-group"><img src="multipleusers2.png" class="bg-black rounded-xl w-40 h-32 shadow-yellow-500 shadow-2xl animate-sideToSide"><p class="text-red-800 text-lg text-center animate-bounce">Year Groups</p></a>
    <button (click)="volunteer()" class="relative left-6"><img src="morterboard2.png" class="bg-black rounded-xl w-40  shadow-green-500 shadow-2xl animate-bounce"><p class="text-red-800 text-lg text-center animate-bounce">The School</p></button>
</div>
</div> 






<div class="flex justify-center items-center">
<div class="flex justify-center items-center gap-10 bg-gradient-to-b from-purple-500 via-purple-800 to-purple-900 h-full w-full [20rem]">
    <div>
<p [appCountUp]="2022" class="text-white font-bold text-3xl"></p>
<p class="text-white font-semibold">Esterblished</p>
</div>
<div>
<p [appCountUp]="50" class="text-white font-bold text-3xl"></p>
<p class="text-white font-semibold">Student</p>
</div>
<div>
<p [appCountUp]="22" class="text-white font-bold text-3xl"></p>
<p class="text-white font-semibold">Female</p>
</div>
<div>
<p [appCountUp]="28" class="text-white font-bold text-3xl"></p>
<p class="text-white font-semibold">Male</p>
</div>
<div>
<p [appCountUp]="49" class="text-white font-bold text-3xl"></p>
<p class="text-white font-semibold">Nationality</p>
</div>
<div>
<p [appCountUp]="1" class="text-white font-bold text-3xl"></p>
<p class="text-white font-semibold">Foreigner</p>
</div>
</div>
</div>







<div class="">

<div class="flex justify-between text- center mt-10 mb-10 mx-10 bg-gray-300">
<div class="border-2 shadow-xl ">
<p class="font-bold text-[30px] mx-4 mt-32 "> A Message From Our Principal</p>
 
<p class="mx-4 ">Greetings from Ghana and from Ghana International School!<br/>
We are excited to welcome you to our School (GIS) and to have<br/>
you visit virtually by taking a walk through our pages. For close<br/>
to 70 years, this great institution has charted a path of excellence<br/>
in international education and continues to be a leader in transformational<br/>
and collaborative learning. We understand clearly that student learning,<br/>
wellbeing and development should be at the heart of all we do. Our dedicated<br/>
team of teaching and non-teaching staff demonstrate this daily to transform<br/>
how we live, learn and grow at GIS.  As a school accredited by<br/>
both the NEASC (New England Association of Schools and Colleges)<br/>
and the CIS (Council of International Schools), we are happy to<br/>
open our doors to people “from all the countries of the Earth”<br/>
 and are confident that GIS will be a transformative experience,<br/>
whether you join the community as a student, parent, staff or<br/>
visitor. Walking through our hallways and visiting our classrooms,<br/>
we are convinced that every effort has been put into ensuring<br/>
a safe and caring environment for each and every member of our community.<br/>

Enjoy the virtual visit and when you are done, why not get in<br/>
 touch to arrange to meet us in person?<br/>

Looking forward to meeting you!<br/>
</p>
 

<p class="mt-10 mx-4">
Frank D. Amponsah-Mensah Esq.<br/>
Principal/Head of School<br/>
</p>
</div>

<div class="border-2 shadow-xl">
    <img src="/blackcoat.jpg" class="w-[36rem]">
</div>
</div>



       FOOTER
<div id="contact" class="bg-gray-600 h-full flex justify-center items-center p-4 text-white">
    <div class="flex gap-10">
        <div>
            <p class="font-bold">Contact Numbers:</p>
            <p class="mt-2">055028888888</p>
        </div>
        <div>
         <h1 class="font-bold">Address:</h1>
          <p class="mt-2">P. O. Box A64</p>
          <p>La, Accra, Ghana</p>
       </div>
       <div>
        <h1 class="font-bold">Email & Social Handles:</h1>
        <p class="mt-2">Email: info&#64;anglosa194.com</p>
        <p>Connect with us on socia media</p>
       </div>
    </div>
    <div class="flex relative left-[8rem] space-x-10">
        <div class="space-x-10">
        <a href=""><img src="/facebook.png" class="w-10 "></a>
        <a href=""><img src="/whatsapp.png" class="w-10"></a>
        </div>
        <div class="space-x-10">
        <a href=""><img src="/instagram.png" class="w-10 "></a>
        <a href=""><img src="/twitter.png" class="w-10 "></a>
        </div>
    </div>
</div>


</div>
 -->









<!-- 


 the school

 <div class="overflow-hidden">   
     
     EMAIL
    <div class="bg-red-600 py-1 text-white">
    <div class="flex mx-20">
     <span class="material-symbols-outlined ">mail</span>
     <span class="tracking-tight font-bold text-sm">anglosa194&#64;yahoo.com.gh</span>
     </div>
    </div>


 <div class=" bg -blue-800 h-20 z-10 ">

       <div class="bg- blue-800 h-16 md:h-20 z-10 flex items-center px-4 md:px-20">
    <div class="flex justify-between items-center w-full text- red-500">
      

       SCHOOL LOGO
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2">Anglosa 194</p>
        </div>

      Links
      <div class="hidden md:flex gap-4">
        <a routerLink="/homepage"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Home Page
        </a>
        <a routerLink="/aboutlayout"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          About Us
        </a>
        <a routerLink="/gallery"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Gallery
        </a>
        <a routerLink="/constitution"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Constitution
        </a>
         <a routerLink="/location"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-black border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Location
        </a>
        <a (click)="scrollToContact()" class="text-black cursor-pointer px-3 py-2 text-sm md:text-base">
          Contact
        </a>
      </div>

      Join Button
      <button class="bg-red-500 text-white font-semibold px-4 py-2 rounded-lg border text-sm md:text-base">
        Join
      </button>
    </div>
  </div>
    </div>



    <div class="contaner bg-gray-100">
        BACKGROUND IMAGE
    <div class="bg-[url('/the-school.jpg')] bg-no-repeat bg-cover bg-center h-[35rem]">
        <p class="animate-ping text-4xl text-center relative top-[13rem]">ST. Paul's Anglican 1JSS</p>
       
    </div>



               THE GROUP MOTOR
    <div class="bg-green-800 h-[10rem] flex flex-col items-center justify-center text-white">
        <p class="text-2xl">𝕆𝕌ℝ <span class="bg-blue-500 rounded-full border-2 border-black px-1">𝕄</span>𝕆𝕋𝕋𝕆</p> 
        <P class="text-4xl font-bold">
            "Uncerstanding Of Each Other"
        </P>
    </div>

                CONTENT
   <div class="mx-20 mt-10 h-">
     <p class="text-red-600 font-bold text-6xl">Brief History</p>
   
   <div class="flex justify-between mt-10 text-gray-400 ">
    <div class="mt- 10">
    <p class="borde w-[18rem]">
    At its Synod in 1870, the Methodist Church 
    in Ghana decidedto establish an all-boys secondary 
    school, dedicated to fostering intellectual, 
    moral and spiritual growth. Accordingly, on Monday
    3rd April 1876, the Wesleyan High School (now Mfantsipim) 
    started operating in Cape Coast as the first
    Methodist Secondary School and also the first-second 
    cycle in the then Gold Coast. The school
    started with 17 students and James Picot, 
    who was only 18 as the first Headmaster.
    Ten foundation students present at the inauguration
     of the school were: John Mensah Sarbah, 
     George Grant, Henry Van Hein,
     William Fynn Penny (later Rev. Fynn Egyir
    Asaam), William Fynn, Robert J. Hayfron, Benjamin Pine Wood, 
    Samuel C. Crankson, Brodie Arthur and John James Clement.
    The school changed names several times before John Mensah-Sarbah, 
    one of the pioneer students who had become an accomplished lawyer 
    came up with the name ‘Mfantsipim’. It started as the Wesleyan High 
    School, became High School and Training Instruction, Wesleyan 
    Collegiate School, Richmond College and finally Mfantsipim.
    For Sarbah and his friends, the name “Mfantsipim” was not to be 
    broken into syllables to indicate “Mfantsefo Apem” (A thousand 
    Fantes). They were more focused on the future needs of the country 
    as a whole and to them “Mfantsipim” meant the ‘Soul of the People’ 
    and it was in the School that the “souls of the people of Ghana” 
    would mature. Mensah Sarbah also gave the school its motto “Dwen 
    Hwe Kan” which, translated literally means “Think and look ahead”
    </p>
</div>

    <div class="borde w-[18rem]">
    <p>The school also changed locations several times. From the Mission
    House to the former Colonial School on Saltpond Road, Acquah’s 
    house, Coussey’s house at the foot of McCarthy Hill, Government 
    buildings near the Isolation hospital, Sea View House, Mount Hope 
    and eventually settled on the Kwabotwe Hill.
    In 1891 the Wesleyan High School assumed the name of the Wesleyan 
    Collegiate School at a time when it was saddled with challenges such as 
    shortage of funds, unsuitable accommodation, and inadequacy of qualified 
    staff. Under these dire circumstances, John Mensah Sarbah and a few others 
    decided to tackle the problems and formed the Fante Public Schools Limited. 
    The company set up in April 1905, a high school called ‘Mfantsipim’ which 
    was distinct from the Wesleyan Collegiate School. Unfortunately, both 
    schools still experienced serious difficulties and to save the situation, 
    they were merged in July 1905 under the management of the Methodist Church, 
    with the name “Mfantsipim”.
    Over the years, several Headmasters have served the School with distinction. 
    Their vision, commitment, and hard work are what has made the school 
    what it is today. Rev. W.T. Balmer of the Methodist Church, 
    Principal of Richmond College in Sierra Leone arrived in Cape Coast in 
    1907 on an inspection and met only eight (8) dedicated boys in the 
    school teaching themselves because there was neither a teacher nor 
    a Headmaster. He named them the “Faithful Eight” and accepted to stay 
    and take charge of the school as Headmaster. During the centenary 
    celebrations of Mfantsipim in 1976, a monument was erected in their memory.
    </p>
</div>

<div class="mt- 20 space-y-10">
<p class="font-barlow text-red-500 text-2xl">Name of School</p>
La St. Paul's Anglican 1JHS

<p class="font-barlow text-red-500 text-2xl">Headmistress</p>
M. Annan

<p class="font-barlow text-red-500 text-2xl">Website</p>
www.sample.edu.gh
</div>
</div>
</div>



<div id="contact" class="bg-gray-600 mt-10 h-full flex justify-center items-center p-4 text-white">
    <div class="flex gap-10">
        <div>
            <p class="font-bold">Contact Numbers:</p>
            <p class="mt-2">055028888888</p>
        </div>
        <div>
         <h1 class="font-bold">Address:</h1>
          <p class="mt-2">P. O. Box A64</p>
          <p>La, Accra, Ghana</p>
       </div>
       <div>
        <h1 class="font-bold">Email & Social Handles:</h1>
        <p class="mt-2">Email: info&#64;anglosa194.com</p>
        <p>Connect with us on socia media</p>
       </div>
    </div>
    <div class="flex relative left-[8rem] space-x-10">
        <div class="space-x-10">
        <a href=""><img src="/facebook.png" class="w-10 "></a>
        <a href=""><img src="/whatsapp.png" class="w-10"></a>
        </div>
        <div class="space-x-10">
        <a href=""><img src="/instagram.png" class="w-10 "></a>
        <a href=""><img src="/twitter.png" class="w-10 "></a>
        </div>
    </div>
</div>

</div>

</div>  

 -->
