
<div class="mt-[10rem] mb-10">

    <div class="mx-2 md:mx-20 space-y-6 ">
        <div>
        <img src="/graduation.jpg" class="h-[12rem] md:h-[25rem]  md: w-full rounded-lg">
        <p class="text-center font-bold">1994 Year Group </p>
        </div>
        <div>
        <img src="/study-group.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">Study Group </p>
        </div>
        <div>
        <img src="/study-group1.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">Study Group </p>
        </div>
        <div>
        <img src="/the-school.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">The School </p>
        </div>
         <div>
        <img src="/thesch4.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">The School </p>
        </div>
    </div>


    <div class="grid grid-cols-3 gap-4">
  <div *ngFor="let file of galleryFiles">
    <img [src]="file.file_url" alt="Gallery Image" class="w-full h-48 object-cover rounded" />
  </div>
</div>

    
    </div>