
<div class="mt-[10rem] mb-10">

    <div class="mx-20 space-y-6 ">
        <div>
        <img src="/graduation.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">2005 Year Group </p>
        </div>
        <div>
        <img src="/study-group.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">Study Group </p>
        </div>
        <div>
        <img src="/study-group1.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">Study Group </p>
        </div>
        <div>
        <img src="/the-school.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">The School </p>
        </div>
         <div>
        <img src="/thesch4.jpg" class="h-[12rem] md:h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">The School </p>
        </div>
    </div>
    
    </div>