
        <!-- EMAIL --> 
<div>

      <div class="bg-red-600 py-1 text-white">
     <a href="mailto:formula865@yahoo.com" class="flex mx-20 items-center">
    <span class="material-symbols-outlined">mail</span>
    <span class="tracking-tight font-bold text-sm ml-1">
      anglosa194&#64;yahoo.com.gh
    </span>
  </a>
</div>


 <div class="h-20 z- 10 ">

       <div class="bg- blue-800 h-16 md:h-20 z-10 flex items-center px-4 md:px-20">
    <div class="flex justify-between items-center w-full text- red-500">
      

       <!-- SCHOOL LOGO -->
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2">Anglosa 194</p>
        </div>

      <!-- Links -->
      <div class="hidden md:flex gap-4">
        <a routerLink="/homepage"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Home Page
        </a>
        <a routerLink="/aboutlayout"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          About Us
        </a>
        <a routerLink="/gallery"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Gallery
        </a>
        <a routerLink="/constitution"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Constitution
        </a>
         <a routerLink="/location"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-black border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Location
        </a>
        <a (click)="scrollToContact()" class="text-black cursor-pointer px-3 py-2 text-sm md:text-base">
          Contact
        </a>
      </div>

      <!-- Join Button -->
      <button class="bg-red-500 text-white font-semibold px-4 py-2 rounded-lg border text-sm md:text-base">
        Join
      </button>
    <!-- </div> -->
  </div>
    </div>


    <div class="mx-20 space-y-6 ">
        <div>
        <img src="/graduation.jpg" class="h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">2005 Year Group </p>
        </div>
        <div>
        <img src="/study-group.jpg" class="h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">Study Group </p>
        </div>
        <div>
        <img src="/study-group1.jpg" class="h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">Study Group </p>
        </div>
        <div>
        <img src="/the-school.jpg" class="h-[25rem] w-full rounded-lg">
        <p class="text-center font-bold">The School </p>
        </div>
    </div>


  
    




                 <!-- FOOTER -->
    <div id="contact" class="bg-gray-600 mt-10 h-[8rem] flex justify-center items-center p-4 text-white">
    <div class="flex gap-10">
        <div>
            <p class="font-bold">Contact Numbers:</p>
            <p class="mt-2">055028888888</p>
        </div>
        <div>
         <h1 class="font-bold">Address:</h1>
          <p class="mt-2">P. O. Box A64</p>
          <p>La, Accra, Ghana</p>
       </div>
       <div>
        <h1 class="font-bold">Email & Social Handles:</h1>
        <p class="mt-2">Email: info&#64;anglosa194.com</p>
        <p>Connect with us on socia media</p>
       </div>
    </div>
    <div class="flex relative left-[8rem] space-x-10">
        <div class="space-x-10">
        <a href=""><img src="/facebook.png" class="w-10 "></a>
        <!-- <a href=""><img src="/whatsapp.png" class="w-10"></a> -->
         <a href="https://wa.me/+233272062942" target="_blank" rel="noopener">
          <img src="/whatsapp.png" class="w-10">
         </a>

        </div>
        <div class="space-x-10">
        <a href=""><img src="/instagram.png" class="w-10 "></a>
        <a href=""><img src="/twitter.png" class="w-10 "></a>
        </div>
    </div>
</div>



</div>



   