
    <!-- google map -->
      <div class="w-full h-full [400px] flex flex-col md:flex-row justify-center gap-6 mx-2 mt-[10rem] mb-10">
      <div class="h- [30rem]">
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4738.026133623005!2d-0.1661967662199031!3d5.556104851237561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9008e789898d%3A0xdd7c25d877f3c597!2sLa%20Saint%20Paul%20Anglican%20Church%2C%20Accra!5e0!3m2!1sen!2sgh!4v1758618288871!5m2!1sen!2sgh" 
      width="600" 
      height="450" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe> -->
    <a [href]="mapsLink" target="_blank">
    <img src="/googlemap.png" class="w-[25rem]">
    </a>
    <p class="text-center font-bold">Click the image for direction</p>
      </div>

      <div class="w-[35rem]">
     
        <div class="max-w-lg mx-auto mt-1 p-6 bg-white shadow rounded-lg">
  <h2 class=" text-xl text-center font-bold mb-4 ">Submit your comment</h2>

  <form (ngSubmit)="submit()">
    <input [(ngModel)]="username" name="username" type="text" placeholder="Your Name"
      class="w-full mb-3 p-2 border rounded" required>

    <input [(ngModel)]="email" name="email" type="email" placeholder="Your Email"
      class="w-full mb-3 p-2 border rounded">

    <textarea [(ngModel)]="comment" name="comment" placeholder="Your Comment"
      class="w-full mb-3 p-2 border rounded" required></textarea>

    <input type="file" (change)="onFileSelected($event)" class="mb-3">

    <button type="submit"
      class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
      Submit
    </button>
  </form>

  <p *ngIf="message" class="mt-3 text-green-600">{{ message }}</p>
</div>


    
      </div>

      </div>