
    <!-- google map -->
      <div class="w-full h-full [400px] flex flex-col md:flex-row justify-center gap-6 mx-2 mt-[10rem] mb-10">
      <div class="h-[30rem]">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3971.0652943152045!2d-0.20254102641787486!3d5.557340433639103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0xfdf9084b2b7a773%3A0xbed14ed8650e2dd3!2sAccra!3m2!1d5.5592846!2d-0.19743059999999998!4m5!1s0xfdf91c3698019f7%3A0xb97db7687e59bc6d!2sWESLEY%20TOWERS%20(METHODIST%20CHURCH%20GHANA%20CONFERENCE%20OFFICE)%2C%20Cruickshank%20Road%2C%20Accra!3m2!1d5.5573739!2d-0.2018594!5e0!3m2!1sen!2sgh!4v1757070730441!5m2!1sen!2sgh" 
          width="00" 
          width="700rem" 
          height="100%" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          class="w-[40rem]"
          referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      </div>

      <div class="w-[35rem]">
        Valley Primary School (Y2 - Y6)
      Old Lode Lane
      Solihull   
      West Midlands
      B92 8LW

      Valley Primary School (Nursery - Y1)
      Fallowfield Road 
      Solihull 
      West Midlands 
      B92 9HQ

      Telephone: 0121 743 4691              
      Email: office&#64;valleyprimary.org
      Headteacher:  Miss S. Milewski

      Deputy Headteacher: Mrs K. Wilton

      Chair of Community Council: Mrs A. Butcher

      c/o Valley Primary School

      If you wish to discuss anything related to Disabilities and Special Education Needs contact:

      Assistant Headteacher/ Inclusion Lead: Mrs Heaven. 

      If you have any queries, compliments or complaints that you wish to discuss, please contact the Parent Liaison Lead Mrs Coldwell via email: 

      parentliaison&#64;valleyprimary.org

      If you would like a paper copy of any of our policies or any document from this website, please contact us via either school office using the contact details above. These will be provided free of charge.

      Our office team is led by Mrs Coldwell and she or one of our office team; Mrs Green, Mrs Fear or Mrs Lunham, will be happy to help you if you contact our office either by telephone or by email. 

      If you need to contact Explorers, our before and after school care providers outside of office hours, please call our Explorers Manager Mrs Freeborn on 07850928320 or email: explorers&#64;valleyprimary.org

      Class email addresses: 

      To contact your child’s class teacher directly, find your child’s class name below and use the corresponding email address. Please note these emails are not checked daily so please contact the office for any urgent enquiries.

      nursery&#64;valleyprimary.org 

      astonr&#64;valleyprimary.org 

      gryllsr&#64;valleyprimary.org 

      peaker&#64;valleyprimary.org 

      bell1&#64;primary.org 

      lee1&#64;valleyprimary.org 

      shaw1&#64;primary.org 



      Safeguarding concerns

      Safeguarding is everybody’s responsibility. If you have a 
      concern about a child, please do contact the school and 
      ask for a Designated Safeguarding Lead to discuss this. 

      Should this concern arise during a school holiday when 
      school is closed, please use the parent liaison email 
      address (parentliaison&#64;valleyprimary.org) FAO 
      Designated Safeguarding Lead. We will have a DSL on 
      call each day in the school holidays who will check 
      these emails and contact you or the relevant agency 
      should this be needed. 

      Alternatively, you can also telephone the Solihull 
      MASH (Multi Agency Safeguarding Hub) team on 0121 788 4300 
      option 2 (Monday to Thursday 8.45am-5.30pm, Friday 8.45am -4.30pm) 
      or 0121 605 6060 (evenings, weekends or bank holidays). If you feel 
      a child is in immediate danger call the police on 999. 

      You can also call the NSPCC on 0808 800 5000 or contact ChildLine 
      on 0800 1111 for further advice or support.
      </div>

      </div>