      <div>


      <!-- EMAIL -->
    <div class="bg-red-600 py-1 text-white">
    <div class="flex mx-20">
     <span class="material-symbols-outlined ">mail</span>
     <span class="tracking-tight font-bold text-sm">anglosa194&#64;yahoo.com.gh</span>
     </div>
    </div>


 <div class=" bg -blue-800 h-20 z-10 ">

       <div class="bg- blue-800 h-16 md:h-20 z-10 flex items-center px-4 md:px-20">
    <div class="flex justify-between items-center w-full text- red-500">
      

       <!-- SCHOOL LOGO -->
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2">Anglosa 194</p>
        </div>

      <!-- Links -->
      <div class="hidden md:flex gap-4">
        <a routerLink="/homepage"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Home Page
        </a>
        <a routerLink="/aboutlayout"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          About Us
        </a>
        <a routerLink="/gallery"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Gallery
        </a>
        <a routerLink="/constitution"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Constitution
        </a>
         <a routerLink="/location"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-black border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Location
        </a>
        <a (click)="scrollToContact()" class="text-black cursor-pointer px-3 py-2 text-sm md:text-base">
          Contact
        </a>
      </div>

      <!-- Join Button -->
      <button class="bg-red-500 text-white font-semibold px-4 py-2 rounded-lg border text-sm md:text-base">
        Join
      </button>
    </div>
  </div>
    </div>


    <!-- google map -->
       <div class="w-full h-[400px]">
  <iframe 
   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5196.860632658791!2d-0.20625803191133188!3d5.556434582184511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf91c3698019f7%3A0xb97db7687e59bc6d!2sWESLEY%20TOWERS%20(METHODIST%20CHURCH%20GHANA%20CONFERENCE%20OFFICE)!5e0!3m2!1sen!2sgh!4v1757069797275!5m2!1sen!2sgh" 
  width="600" 
    width="100%" 
    height="100%" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>

  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5196.860632658791!2d-0.20625803191133188!3d5.556434582184511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf91c3698019f7%3A0xb97db7687e59bc6d!2sWESLEY%20TOWERS%20(METHODIST%20CHURCH%20GHANA%20CONFERENCE%20OFFICE)!5e0!3m2!1sen!2sgh!4v1757069797275!5m2!1sen!2sgh" 
  width="600" 
  height="450" 
  style="border:0;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
</iframe> -->

<!-- <iframe 
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.864812362558!2d-1.5607!3d6.6732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb97395e29f6c9%3A0x9cf7e7e1f2f7b99a!2sKwame%20Nkrumah%20University%20of%20Science%20and%20Technology!5e0!3m2!1sen!2sgh!4v1693929212345!5m2!1sen!2sgh" 
  width="100%" 
  height="400" 
  style="border:0;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
</iframe> -->

<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3971.0652943152045!2d-0.20254102641787486!3d5.557340433639103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0xfdf9084b2b7a773%3A0xbed14ed8650e2dd3!2sAccra!3m2!1d5.5592846!2d-0.19743059999999998!4m5!1s0xfdf91c3698019f7%3A0xb97db7687e59bc6d!2sWESLEY%20TOWERS%20(METHODIST%20CHURCH%20GHANA%20CONFERENCE%20OFFICE)%2C%20Cruickshank%20Road%2C%20Accra!3m2!1d5.5573739!2d-0.2018594!5e0!3m2!1sen!2sgh!4v1757070730441!5m2!1sen!2sgh" 
width="600" 
height="450" 
style="border:0;" 
allowfullscreen="" 
loading="lazy" 
referrerpolicy="no-referrer-when-downgrade">
</iframe>

</div>




<div id="contact" class="bg-gray-600 mt-10 h-full flex justify-center items-center p-4 text-white">
    <div class="flex gap-10">
        <div>
            <p class="font-bold">Contact Numbers:</p>
            <p class="mt-2">055028888888</p>
        </div>
        <div>
         <h1 class="font-bold">Address:</h1>
          <p class="mt-2">P. O. Box A64</p>
          <p>La, Accra, Ghana</p>
       </div>
       <div>
        <h1 class="font-bold">Email & Social Handles:</h1>
        <p class="mt-2">Email: info&#64;anglosa194.com</p>
        <p>Connect with us on socia media</p>
       </div>
    </div>
    <div class="flex relative left-[8rem] space-x-10">
        <div class="space-x-10">
        <a href=""><img src="/facebook.png" class="w-10 "></a>
        <!-- <a href=""><img src="/whatsapp.png" class="w-10"></a> -->
         <a href="https://wa.me/+233272062942" target="_blank" rel="noopener">
          <img src="/whatsapp.png" class="w-10">
         </a>

        </div>
        <div class="space-x-10">
        <a href=""><img src="/instagram.png" class="w-10 "></a>
        <a href=""><img src="/twitter.png" class="w-10 "></a>
        </div>
    </div>
</div>


</div>

