
<div class="mt-[8rem] mb-20">

   <div class="font-extrabold md:text-[25px] text-center">
        <p class="underline">LA ANGLICAN 1 JSS 1994 OLD STUDENT</p> 
        <p class="underline">ASSOCIATION (ANGLOSA 194) CONSTITUTION</p>
    </div>


  <section>
    <div class="mx-4 sm:mx-10 md:mx-20 mt-14">
      <!-- Responsive Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        
        <!-- CARD -->
        <div class="border-2 border-black bg-purple-600 shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <div class=" bg-green-600 h-[10rem] w-[10rem] border-2 border-black right-4 top-[-8px] relative shadow-purple-500 shadow-lg">
          <a routerLink="/page1" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>
        </div>

        <!-- Repeat Cards -->
       <div class="border-2 border-black bg-yellow-400 shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <div class=" bg-green-600 h-[10rem] w-[10rem] border-2 border-black right-4 top-[-8px] relative shadow- purple-500 shadow-lg">
          <a routerLink="/page1" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>
        </div>


          <div class="border-2 border-black bg-purple-600 shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <div class=" bg-green-600 h-[10rem] w-[10rem] border-2 border-black right-4 top-[-8px] relative shadow-purple-500 shadow-lg">
          <a routerLink="/page1" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>
        </div>

         <div class="border-2 border-black bg-yellow-400 shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <div class=" bg-green-600 h-[10rem] w-[10rem] border-2 border-black right-4 top-[-8px] relative shadow- purple-500 shadow-lg">
          <a routerLink="/page1" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>
        </div>


         <div class="border-2 border-black shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <a routerLink="/page4" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-14 mb-2">
            <p class="font-extrabold">Membership</p>
            <p class="font-extrabold">Page 4 of 16</p>
          </a>
        </div>

         <div class="border-2 border-black shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <a routerLink="/page4" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-14 mb-2">
            <p class="font-extrabold">Membership</p>
            <p class="font-extrabold">Page 4 of 16</p>
          </a>
        </div>

          <div class="border-2 border-black shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <a routerLink="/page4" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-14 mb-2">
            <p class="font-extrabold">Membership</p>
            <p class="font-extrabold">Page 4 of 16</p>
          </a>
        </div>

          <div class="border-2 border-black shadow-lg shadow-black w-[18rem] md:w-40 h-40 flex flex-col items-center justify-center mx-auto">
          <a routerLink="/page4" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-14 mb-2">
            <p class="font-extrabold">Membership</p>
            <p class="font-extrabold">Page 4 of 16</p>
          </a>
        </div>

      </div>
    </div>
  </section>
</div>
