<div>

    
        <!-- EMAIL --> 
<div>

      <div class="bg-red-600 py-1 text-white">
     <a href="mailto:formula865@yahoo.com" class="flex mx-20 items-center">
    <span class="material-symbols-outlined">mail</span>
    <span class="tracking-tight font-bold text-sm ml-1">
      anglosa194&#64;yahoo.com.gh
    </span>
  </a>
</div>


 <div class=" bg -blue-800 h-20 z-10 ">

       <div class="bg- blue-800 h-16 md:h-20 z-10 flex items-center px-4 md:px-20">
    <div class="flex justify-between items-center w-full text- red-500">
      

       <!-- SCHOOL LOGO -->
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2">Anglosa 194</p>
        </div>

      <!-- Links -->
      <div class="hidden md:flex gap-4">
        <a routerLink="/homepage"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Home Page
        </a>
        <a routerLink="/aboutlayout"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          About Us
        </a>
        <a routerLink="/gallery"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Gallery
        </a>
        <a routerLink="/constitution"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          class="text-black border-transparent px-3 py-2 rounded-[11px] text-sm md:text-base">
          Constitution
        </a>
         <a routerLink="/location"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-black border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Location
        </a>
        <a (click)="scrollToContact()" class="text-black cursor-pointer px-3 py-2 text-sm md:text-base">
          Contact
        </a>
      </div>

      <!-- Join Button -->
      <button class="bg-red-500 text-white font-semibold px-4 py-2 rounded-lg border text-sm md:text-base">
        Join
      </button>
    <!-- </div> -->
  </div>
    </div>



</div>