
<div class="bg-white mt-12 md:w-[50rem] ">
<div class="mx- md: mx-6 overflow-auto ">

     <!-- Header -->
    <div class="font-extrabold md:text-[25px] text-center mt-[6rem] relative left-5">
        <p class="underline">LA ANGLICAN 1 JSS 1994 OLD STUDENT</p> 
        <p class="underline">ASSOCIATION (ANGLOSA 194) CONSTITUTION</p>
    </div>
  
    <!-- page 1 -->
  <div class="md:flex justify-between gap-6 mt-10 space-y-8">
    <div class="space-y-10 w-[30rem]">

    <div class="">
      <div class="flex gap-6 font-bold ">
        <p>5.0</p>
        <p>ARTICLE FIVE - RIGHT OF MEMBERSHIP</p>
      </div>
      <div class="container mx-10 space-y-8 w-[20rem]">
         <div class="flex gap-6">
         <p>5.1</p>
         <p>
            A member may exercise the rights of
            membership when is or here name is 
            entered in the register of memers.
         </p>
      </div>
    <!-- </div> -->

    <!-- <div class=""> -->
        <div class="flex gap-6">
        <p>5.2</p>
        <p>A right of membership of the Association is
           not capable of being transferred
           or transmitted to another person and
           terminates on the cessation of membership
           whether by death, resignation or otherwise. 
        </p>
      </div>

         <div class="flex gap-6">
        <p>5.3</p>
        <p>
          A member in good standing shall be entitled
          to one vote at any election of the Association.
          A member in good standing refers to one who is 
          pontual and regular in activity and contributes 
          to the growth of the group.
        </p>
      </div>

        <div class="flex gap-6">
        <p>5.4</p>
        <p>
          A member is not eligible to vote until three 
          (3) General Meetings after he or she has 
          been accepted.
        </p>
      </div>
    </div>
</div>

    <div class="w- [30rem] borde">
       <div class="flex gap-6 font-bold">
          <p>6.0</p>
          <p>ARTICLE SIX - ADMISTRATION</p>
      </div>
      <div class="space-y-8">
         <div class="flex gap-6 mx-10">
        <p>6.1</p>
        <div>
          Members of ANGLOSA 194 Year Group
          shall be managed by OFFICERS not less
          than three (3) people and not more
          fifteen (15) members elected/selected and 
          accepted by the group members at the 
          group's meeting.<br/>
          <span class="font-bold">
            The OFFICERS shall be:<br/>
          </span>
          <p class="font-bold mx-10">
            The PRESIDENT<br/>
            The VICE PRESIDENT<br/>
            The TREASURER<br/>
            The SECRETARY
          </p>
          and such other officers, the group shall deeem 
          necessary at the meeting. 
        </div>
      </div>

       
      <div class="flex gap-6 mx-10">
        <p>6.2</p>
        <p>
          The officers shall meet at least once a 
          year, either through a face-to-face or
          by other electronics means. 
        </p>
      </div>

      <div class="flex gap-6 mx-10">
        <p>6.3</p>
        <p>
          The OFFICERS shall have power to set up
          sub-groups and working parties
          as deemed necessary who shall be
          accounted to the OFFICERS as well as 
          the group.
        </p>
      </div>
      </div>
      
    </div>



  <!-- page 2 -->
   <div class="">
    <div class="">
    <div class="w-[20rem] mx-10 mb-10">
      <div class="fle gap-6 space-y-6">
        <div class="flex gap-6">
        <p>3.2</p>
        <p>Involving students and necessary resources 
         
        </p>
        </div>

        <div class="flex gap-6">
        <p>3.3</p>
        <p>
          Carrying out and promoting practical
          
        </p>
        </div>

        <div class="flex gap-6 ">
         <p>3.4</p>
         <p>
          promotinggood-will of '194-year group'
         </p>
      </div>

      <div class="flex gap-6">
        <p>3.5</p>
        <p>
          Raising funds where appropriate to finance 
          the work.
        </p>
        </div>

        <div class="flex gap-6">
        <p>3.6</p>
        <p>
          Opening a bank account for its operations.
        </p>
        </div>
        
      </div>
    </div>
  
  </div>
  </div>

  </div>


   
  <!-- page 3 -->
  <div class="space-y-6">



     <div class="flex gap-6">
        <p>3.7</p>
        <p>
          Organising meetings, trainingcourses and events.
        </p>
        </div>

         <div class="flex gap-6">
        <p>3.8</p>
        <p>
          Working with similar groups and exchange
         
        </p>
        </div>

         <div class="flex gap-6">
        <p>3.9</p>
        <p>
          Taking any action that is lawful, which 
          
        </p>
        </div>



     <div class="w-[30rem] borde ">
        <div class="flex gap-6 font-bold">
        <p>4.0</p>
        <p>ARTICLE FOUR - MEMBERSHIP</p>
      </div>
         <div class="flex gap-6 mx-10">
        <p>4.1</p>
        <p>
          Membership of ANGLOSA 194 shall consist 
          of ordinary and Honorary Members.
        </p>
      </div>
    </div>

    <div class="w-[30rem] borde">
       <div class="flex gap-6 mx-10">
        <p>4.2</p>
        <p>Ordinary membership shall be open to all
 
      </div>
      </div>

         <div class="flex gap-6 mx-10">
        <p>4.3</p>
        <p>
          It is the responsibility of the secretary to
          register members with the association.
        </p>
      </div>
    <!-- </div>  -->
  <!-- </div> -->

     <div class="flex gap-6 mx-10">
        <p>4.4</p>
        <p>
          Person who do not qualify under the clause 4.2
         
        </p>
      </div>
    <!-- </div> -->
    <!-- </div>  -->


     <div class="flex gap-6 mx-10">
        <p>4.5</p>
        <p>
          Honorary membership shall be person who do
         
        </p>
      </div>

       <div class="flex gap-6 mx-10">
        <p>4.6</p>
        <p>
          Curent and former staff and tutors of the 
         
        </p>
      </div>

      <div class="flex gap-6 mx-10">
        <p>4.6</p>
        <p>
          Honorary members are not entitled to executive 
          position.
        </p>
      </div>
    </div> 
    
  
  
    </div>

    

</div>
</div>