
<div class="bg-white mt-12 md:w-[50rem] ">
<div class="mx- md: mx-6 overflow-auto ">

     <!-- Header -->
    <div class="font-extrabold md:text-[25px] text-center mt-[6rem] relative left-5">
        <p class="underline">LA ANGLICAN 1 JSS 1994 OLD STUDENT</p> 
        <p class="underline">ASSOCIATION (ANGLOSA 194) CONSTITUTION</p>
    </div>
  
    <!-- page 1 -->
  <div class="md:flex justify-between gap-6 mt-10 space-y-8 mb-10">

    <div class="space-y-10 w-[30rem]">

    <div class="">
      <div class="flex gap-6 font-bold ">
        <p>5.0</p>
        <p>ARTICLE FIVE - RIGHT OF MEMBERSHIP</p>
      </div>
      <div class="container mx-10 space-y-8 w-[20rem]">
         <div class="flex gap-6">
         <p>5.1</p>
         <p>
            A member may exercise the rights of
            membership when is or here name is 
            entered in the register of memers.
         </p>
      </div>
    <!-- </div> -->

    <!-- <div class=""> -->
        <div class="flex gap-6">
        <p>5.2</p>
        <p>A right of membership of the Association is
           not capable of being transferred
           or transmitted to another person and
           terminates on the cessation of membership
           whether by death, resignation or otherwise. 
        </p>
      </div>

         <div class="flex gap-6">
        <p>5.3</p>
        <p>
          A member in good standing shall be entitled
          to one vote at any election of the Association.
          A member in good standing refers to one who is 
          pontual and regular in activity and contributes 
          to the growth of the group.
        </p>
      </div>

        <div class="flex gap-6">
        <p>5.4</p>
        <p>
          A member is not eligible to vote until three 
          (3) General Meetings after he or she has 
          been accepted.
        </p>
      </div>
    </div>
</div>

    <!-- <div class="w- [30rem] borde"> -->
       <div class="flex gap-6 font-bold">
          <p>6.0</p>
          <p>ARTICLE SIX - ADMISTRATION</p>
      </div>
      <div class="space-y-8">
         <div class="flex gap-6 mx-10">
        <p>6.1</p>
        <div>
          Members of ANGLOSA 194 Year Group
          shall be managed by OFFICERS not less
          than three (3) people and not more
          fifteen (15) members elected/selected and 
          accepted by the group members at the 
          group's meeting.<br/>
          <span class="font-bold">
            The OFFICERS shall be:<br/>
          </span>
          <p class="font-bold mx-10">
            The PRESIDENT<br/>
            The VICE PRESIDENT<br/>
            The TREASURER<br/>
            The SECRETARY
          </p>
          and such other officers, the group shall deeem 
          necessary at the meeting. 
        </div>
      </div>

       
      <div class="flex gap-6 mx-10">
        <p>6.2</p>
        <p>
          The officers shall meet at least once a 
          year, either through a face-to-face or
          by other electronics means. 
        </p>
      </div>

      <!-- <div class="flex gap-6 mx-10">
        <p>6.3</p>
        <p>
          The OFFICERS shall have power to set up
          sub-groups and working parties
          as deemed necessary who shall be
          accounted to the OFFICERS as well as 
          the group.
        </p>
      </div> -->

      </div>
    </div>


  <!-- page 2 -->
    <div class="w-[25rem] mb-10">

        <div class="flex gap-6 mx-10 mb-8">
        <p>6.3</p>
        <p>
          The OFFICERS shall have power to set up
          sub-groups and working parties
          as deemed necessary who shall be
          accounted to the OFFICERS as well as 
          the group.
        </p>
      </div>


        <div class="flex gap-6 font-bold ">
        <p>7.0</p>
        <p>ARTICLE SEVEN - STRUCTURE</p>
      </div>
      <div class="container space-y-8">
         <div class="flex gap-6 mx-10">
         <p>7.1</p>
         <div >
            The Association of ANGLOSA 194 group
            shall be made up of<br/>
            <p class="mx-4">
              a. Members<br/>
              b. Officers 
            </p>
          </div>
          </div>

           <div class="flex gap-6 font-bold">
        <p>8.0</p>
        <p>ARTICLE EIGHT - DUTIES OF OFFICERS</p>
      </div>

       <div class="container mx-10">
         <div class="flex gap-4">
         <p class="font-bold ">8.1</p> 
         <p class="font-bold">THE PRESIDENT</p>
         </div>
         <div class="mx-10 w-full">
          <p>The president shall, among other duties:</p>
          <div class="flex flex-col gap-6">
            <p class="flex gap-4">i. <span>Be the Chief Executive Officer of ANGLOSA 194.</span></p>
         

            <p class="flex gap-4">ii.
            <span>
              In conjunction with the association, ensure the 
              smooth and effective functioning of ANGLOSA 194
              at all levels. 
            </span>
            </p>
       

            <p class="flex gap-4">iii.
            <span>
              Preside over all meetings of the association. 
            </span>
            </p>


            <p class="flex gap-4">iv.
            <span>
              Be the Chief Spokesperson of/for the association.
            </span>
            </p>
        

            <p class="flex gap-4">v.
            <span>
              Present an annual reportof ANGLOSA 194 to Members.
            </span>
            </p>
         

            <p class="flex gap-4">vi.
            <span>
              Be responsible to the implementation of executive 
              decisions of the association.
            </span>
            </p>
          

            <p class="flex gap-3">vii.
            <span>
              Be part of the signatories of the bank account.
            </span>
            </p>
         
            <p class="flex gap-3">viii.
            <span>
              Maintain confidentiality at all times.
            </span>
          </p>
          <!-- </div> -->

         </div>
          
        </div>
        </div>