<div class="bg-white mt-12 md:w-[50rem]">
<div class="mx-6 overflow-auto ">

    <div class="font-extrabold md:text-[25px] text-center mt-[6rem] left-5 relative">
        <p class="underline">LA ANGLICAN 1 JSS 1994 OLD STUDENT</p> 
        <p class="underline">ASSOCIATION (ANGLOSA 194) CONSTITUTION</p>
    </div>
  
    <!-- page 1 -->
  <div class="md:flex justify-between gap-6 mt-10 space-y-8">
    <div class="space-y-10 w-[30rem]">

     
          <!-- page 3 -->
         <section>
          <div class="space-y-6 w-[20rem] mt-10">
            <div class="w-[25rem]">
              <div>
                <div class="flex gap-5 font-bold">
                <p>9.0</p>
                <p>ARTICLE NINE - ELECTION OF OFFICERS</p>
              </div>
               
            </div>
             <div class="flex flex-col gap-6 mx-10">
            <p class="flex gap-4">i. 
              <span>
                Election of executive members shall be held at an
                Annual General Meeting (AGM) and shall be by secret ballot.
              </span>
            </p>
         
            <p class="flex gap-4">ii.
            <span>
              Executive members shall hold office for a term of two years 
              and may be re-elected. 
            </span>
            </p>
       

            <p class="flex gap-4">iii.
            <span>
              Only members of ANGLOSA 194 in good standing
              shall be entitled to vote, propose, nominate or 
              support the nomination of candidate.
            </span>
            </p>

             <p class="flex gap-4">iv.
            <span>
              Outgoing executive shall handover to 
              the incoming executive at the fourth quarter
              executive meeting.
            </span>
            </p>

             <p class="flex gap-4">v.
            <span>
              The constitution shall mandate three (3) NON
              anglosa 194 members who shall constitute 
              the electoral board to supervise the election. 
            </span>
            </p>
            </div>
            </div>

        
        <div class="flex gap-6 font-bold">
        <p>9.1</p>
        <p>QUALIFICATION OF CANDIDATE</p>
      </div>
         <div class="mx-10">
        <p>A candidate for election to any position on ANGLOSA 194 shall:</p>
        <div>
          <div class="flex gap-6">
            <p>i.</p>
            <p>
              Be a member for more than one year.
            </p>
          </div>
          <div class="flex gap-5">
            <p>ii.</p>
            <p>
              Be a member in good standing.
            </p>
          </div>
        </div>
      </div>
   

     <div>
      <div class="flex gap-5 font-bold">
        <p>9.2</p>
        <p>NOMINATION OF CANDIDATE</p>
      </div>
         <div class="mx-10">
          <div class="flex gap-6">
            <p>i.</p>
            <p>
              The nomination of a candidate shall shall be made by
              a member nominating him herself or another member.
            </p>
          </div>
          <div class="flex gap-5">
            <p>ii.</p>
            <p>
              Nominations of candidates shall open thirty days before election.
            </p>
          </div>
           <div class="flex gap-5">
            <p>iii.</p>
            <p>
              Where at the expirationof the time prescribed for 
              nominations, only one candidate stands for an
              executive posituion, that candidate shall be 
              declared duly elected by the electoralOfficer. 

            </p>
          </div>
      </div>
      </div>
    </div>
  </section>
  </div>


   
  <!-- page 3 -->
    <section>
  <div class="space-y-6 w-[25rem] mx-20">

        <div class="flex gap-6 font-bold">
        <p>10.0</p>
        <p>ARTICLE TEN - MEETINGS</p>
      </div>
         <div class="flex gap-6 mx-10">
        <p>10.1</p>
        <p>
          The association shall meet once in nevery two
          months at a location to be determined by the members.
        </p>
      </div>

       <div class="flex gap-6 mx-10">
        <p>10.2</p>
        <p>
          The association meetings must be chaired by
          either the President or the Vice-President.

        </p>
      </div>
     
         <div class="flex gap-6 mx-10">
        <p>10.3</p>
        <p>
          If the President and the Vice-President are 
          both absent, the presiding member for that
          meeting must be any member of the executive.
        </p>
      </div>
 

     <div class="flex gap-6 mx-10">
        <p>10.4</p>
        <p>
          The Secretary shall give notice of meeting 
          with an agenda at least 30 days before meeting 
          convenes.
        </p>
      </div>



     <div class="flex gap-6 mx-10">
        <p>10.5</p>
        <p>
          Quorum for meeting shall be eigth (8)
          members, of which three (3) shall be official
          representatives of executive, and no business
          except that of adjournment shall be conducted 
          without without a quorum.
        </p>
      </div>

    </div> 
    </section> 

    </div>

</div>
</div>