
<!-- executivelayout.component.html -->
<!-- <h2 class="text-2xl font-semibold mb-4 text-center">Executive Members</h2> -->

<!-- <nav class="flex justify-center gap-4 mb-6">
  <a [routerLink]="[{ outlets: { executive: ['executivelayout', 'chairman'] } }]"
     routerLinkActive="text-yellow-400" class="hover:text-yellow-400">Chairman</a>
  <a [routerLink]="[{ outlets: { executive: ['executivelayout', 'vicechairman'] } }]"
     routerLinkActive="text-yellow-400" class="hover:text-yellow-400">Vice</a>
  <a [routerLink]="[{ outlets: { executive: ['executivelayout', 'secretary'] } }]"
     routerLinkActive="text-yellow-400" class="hover:text-yellow-400">Secretary</a>
</nav> -->

<!-- Executive child outlet -->
<router-outlet></router-outlet>



