
<div>

    <div class="">
        <img src="/osofo.png" class="rounded-full ">
          <p class="mt-4 text-sm text-white/75 ">
             Theophilus Addo, our Vice Chairman, plays a vital 
             role in supporting the Chairman and ensuring the 
             smooth running of all group activities. He assists 
             in strategic decision-making, supervises project 
             implementation, and steps in to lead when necessary.
             Known for his calm demeanor and dependable nature, 
             Theophilus bridges the gap between leadership and 
             members, ensuring that every voice is heard and 
             valued. His focus on teamwork and inclusion strengthens 
             the foundation of our group.
              </p>
    </div>

</div>