
  <div class="flex text-center flex-col justify-center font-extrabold md:text-[25px] text-white bg-black h-[8rem] mt-[-1rem]">
        <span class="underline mt-20">LA ANGLICAN 1 JSS 1994 OLD STUDENT</span> 
        <span class="underline">ASSOCIATION (ANGLOSA 194) CONSTITUTION</span>
    </div>

<div class="overflow-auto bg-black ">

    <div class="flex md:gap-10 mx-6 md:mx-20 mb-10">
  <section>
    <div class="mt-14">
      <!-- Responsive Grid -->
      <div class="space-y-10">
        
        <!-- CARD -->
          <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page1" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

        <!-- Repeat Cards -->
           <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page2" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

    <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page3" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

            <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page4" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

        <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page5" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

            <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page6" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

         <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page7" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

           <div class=" bg-white h-40 [15rem] w-[7rem] border-2 border-black right-4 top-[-8px] relative shadow-white purple-500 shadow-lg">
          <a routerLink="page8" routerLinkActive="border-4 border-blue-500 h-40" class="flex flex-col items-center">
            <img src="/schlogo1.png" class="w-12 mb-2 mt-4">
            <p class="font-bold">Membership</p>
            <p class="font-bold">Page 1 of 16</p>
          </a>
          </div>

      </div>
    </div>
  </section>
  




<router-outlet></router-outlet>
</div>
</div>









