 <div>
    
    <div class="mx-12 mt-10">
        <p class="text-lg tracking-[0.4rem] font-bold text-gray-400">Teachers</p>
    </div>

     <div *ngIf="loadingTeachers" class="flex justify-center items-center gap-2 text-gray-600">
    <span class="animate-spin border-4 border-t-transparent border-blue-500 rounded-full w-10 h-10"></span>
    <span>Loading members...</span>
  </div>

<div class="lg:mt-10 mt-[rem] md:mx-10 mb-20">
  <div class="overflow-x-auto mt- 32 ">
    <table class="min-w-full table-auto text-[#353535]" id="Data">
      <thead class="bg-gray-300 text-left">
        <tr>
          <th class="px-4 py-2">Unit ID</th>
          <th class="px-4 py-2">Full Name</th>
          <th class="px-4 py-2">Gender</th>
          <th class="px-4 py-2">Subject</th>
          <th class="px-4 py-2">Position</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="border-b border-gray-200 "
          *ngFor="let item of teachAPIData; let i = index"
        >
          <td class="px-4 py-2">#{{ item.id }}</td>
          <td class="px-4 py-2">{{ item.teachname }}</td>
          <td class="px-4 py-2">{{ item.teachgender }}</td>
          <td class="px-4 py-2">{{ item.teachsubject }}</td>
           <td class="px-4 py-2">{{ item.teachposition }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



</div>