<div class="">


    <!-- <div class=" bg- blue-800 h-20 z-10">
       <div class="text-red-500 flex justify-between mx-20 relative top-6 ">
        <div>LOGO</div>
        <div class="flex gap-4 ">
         <a routerLink="homepage" 
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
         >
         Home Page
        </a>
         <a routerLink="aboutus"
          routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
         >
         About Us
        </a>

        <a routerLink="gallery"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Gallery
        </a>

          <a routerLink="constitution"
           routerLinkActive="bg-[#F3F3F16E] border border-white"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base"
          >
          Constitution
        </a>

        <a (click)="scrollToContact()"
         class="text-white border-transparent w-[80px] sm:w-[96px] h-[34px] sm:h-[38px] flex items-center justify-center rounded-[11px] text-sm sm:text-base cursor-pointer"
         >
            Contact
        </a>

         </div>

         <button class="flex justify-center items-center bg-red-500 text-white font-semibold w-20 h-8 rounded-lg border">
            Join
         </button>
       </div>
    </div>
</div> -->



  <!-- EMAIL -->
    <div class="bg-gradient-to-b from-purple-200 via-purple-400 to-purple-700 py-1 text-white fixed top-0 left-0 w-full z-50">
    <div class="flex mx-20">
     <span class="material-symbols-outlined ">mail</span>
     <span class="tracking-tight font-bold text-sm">anglosa194&#64;yahoo.com.gh</span>
     </div>
    </div>

  <!-- NAVBAR -->
  <div class="bg- blue-800 h-16 md:h-20 z-50 flex items-center px-4 md:px-20 fixed bg-purple-400 top-0 left-0 w-full mt-8">
    <div class="flex justify-between items-center w-full text- red-500">
      
       <!-- SCHOOL LOGO -->
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2 text-white">Anglosa 194</p>
        </div>

    <!-- Links -->
    <div class="hidden md:flex gap-4">
      <a routerLink="/homepage" routerLinkActive="bg-[#F3F3F16E] border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white font-bold px-3 py-2 rounded-md text-sm md:text-base hover:!border hover:!border-white  hover:bg-[#F3F3F16E] hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Home Page</a>
      <a routerLink="/aboutlayout" routerLinkActive="bg-[#F3F3F16E] border border-white !text-black hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg" 
        class="text-white font-bold px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-[#F3F3F16E] hover:text-black transition-colors duration-200 hover:!rounded-lg">
        About Us</a>
      <a routerLink="/gallery" routerLinkActive="bg-[#F3F3F16E] border border-white !text-black hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg" 
        class="text-white font-bold px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-[#F3F3F16E] hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Gallery</a>
      <a routerLink="/constitution" routerLinkActive="bg-[#F3F3F16E] border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white font-bold px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-[#F3F3F16E] hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Constitution</a>
      <a routerLink="/location" routerLinkActive="bg-[#F3F3F16E] border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white font-bold px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-[#F3F3F16E] hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Location</a>
      <a (click)="scrollToContact()" routerLinkActive="bg-[#F3F3F16E] border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white font-bold cursor-pointer px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:!bg-[#F3F3F16E] hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Contact</a>
    </div>

    <!-- Join button -->
    <button class="bg-red-500 text-white px-4 py-2 rounded-lg text-sm md:text-base">Join</button>

    <!-- Mobile menu button -->
    <button class="md:hidden text-white text-2xl">☰</button>
  </div>
</div>




<div class="overflow-hidden">
    <!-- EMAIL -->
    <div class="bg-gradient-to-b from-purple-400 via-purple-600 to-purple-700 py-1 text-white fixed top-0 left-0 w-full z-50">
    <div class="flex mx-20">
     <span class="material-symbols-outlined ">mail</span>
     <span class="tracking-tight font-bold text-sm">anglosa194&#64;yahoo.com.gh</span>
     </div>
    </div>

  <!-- NAVBAR -->
  <div class="bg- blue-800 h-16 md:h-20 z-50 flex items-center px-4 md:px-20 fixed bg-purple-800 top-0 left-0 w-full mt-8">
    <div class="flex justify-between items-center w-full text- red-500">
      
       <!-- SCHOOL LOGO -->
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2 text-white">Anglosa 194</p>
        </div>

    <!-- Links -->
    <div class="hidden md:flex gap-4">
      <a routerLink="/homepage" routerLinkActive="bg-gray-300 font-bold !text-black border border-white rounded-lg hover:border hover:!text-green-500 hover:border-white hover:bg-gray-200 transition-colors duration-200 hover:rounded-lg"
        class="text-white  px-3 py-2 rounded-md text-sm md:text-base hover:!border hover:!border-white  hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Home Page</a>
      <a routerLink="/aboutlayout" routerLinkActive="bg-gray-300 font-bold !text-black border border-white !text-black hover:border hover:!text-green-500 hover:border-white hover:bg-gray-200 transition-colors duration-200 hover:rounded-lg" 
        class="text-white px-3 py-2 rounded-lg text-sm sm:text-base hover:bg-gray-100 hover:text-black transition-colors duration-200 ">
        About Us</a>
      <a routerLink="/gallery" routerLinkActive="bg-gray-300 font-bold !text-black border border-white rounded-lg hover:border hover:!text-green-500 hover:border-white hover:bg-gray-200 transition-colors duration-200 hover:rounded-lg" 
        class="text-white  px-3 py-2 text-sm md:text-base hover:!border hover:!border-white hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Gallery</a>
      <a routerLink="/constitution" routerLinkActive="bg-gray-300 font-bold !text-black border border-white rounded-lg hover:border hover:!text-green-500 hover:border-white hover:bg-gray-200 transition-colors duration-200 hover:rounded-lg"
        class="text-white  px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Constitution</a>
      <a routerLink="/location" routerLinkActive="bg-gray-300 font-bold !text-black border border-white rounded-lg hover:border hover:!text-green-500 hover:border-white hover:bg-gray-200 transition-colors duration-200 hover:rounded-lg"
        class="text-white  px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Location</a>
      <a (click)="scrollToContact()" routerLinkActive="bg-gray-300 font-bold !text-black border border-white rounded-lg hover:border hover:!text-green-500 hover:border-white hover:bg-gray-200 transition-colors duration-200 hover:rounded-lg"
        class="text-white  cursor-pointer px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Contact</a>
    </div>

    <!-- Join button -->
    <button class="bg-red-500 text-white px-4 py-2 rounded-lg text-sm md:text-base">
      Join
    </button>

    <!-- Mobile menu button -->
    <button class="md:hidden text-white text-2xl">☰</button>
  </div>
</div>



<router-outlet></router-outlet>

<!-- FOOTER -->
<div id="contact" class="bg-gray-600 flex flex-col md:flex-row justify-between items-center p-6 text-white gap-6 mt- [115px] absolute w-full">
  <div>
    <p class="font-bold">Contact Numbers:</p>
    <p class="mt-2">055028888888</p>
  </div>
  <div>
    <h1 class="font-bold">Address:</h1>
    <p class="mt-2">P. O. Box A64</p>
    <p>La, Accra, Ghana</p>
  </div>
  <div>
    <h1 class="font-bold">Email & Social Handles:</h1>
    <p class="mt-2">info&#64;anglosa194.com</p>
    <p>Connect with us on social media</p>
  </div>
  <div class="flex gap-6">
    <a href=""><img src="/facebook.png" class="w-8 sm:w-10"></a>
    <a href=""><img src="/whatsapp.png" class="w-8 sm:w-10"></a>
    <a href=""><img src="/instagram.png" class="w-8 sm:w-10"></a>
    <a href=""><img src="/twitter.png" class="w-8 sm:w-10"></a>
  </div>
</div> 