
<div class="overflow-hidden">
    <!-- EMAIL -->
    <!-- <div class="bg-gradient-to-b from-purple-400 via-purple-600 to-purple-700 py-1 text-white fixed top-0 left-0 w-full z-50">
    <div class="flex mx-20">
     <span class="material-symbols-outlined ">mail</span>
     <span class="tracking-tight font-bold text-sm">anglosa194&#64;yahoo.com.gh</span>
     </div>
    </div> -->

  <!-- NAVBAR -->
  <div class="bg- blue-800 h-16 md:h-20 z-50 flex items-center px-4 md:px-20 fixed bg-green-800 top-0 left-0 w-full mt- 8">
    <div class="flex justify-between items-center w-full text- red-500">
      
       <!-- SCHOOL LOGO -->
        <div class="flex gap-2">
            <img src="/schlogo1.png" class="w-10">
            <p class="w-2 tracking-tight leading-tight font-bold mt-2 text-white">Anglosa 194</p>
        </div>

    <!-- Links -->
    <div class="hidden md:flex gap-4 z-50">
      <a routerLink="/homepage" routerLinkActive="bg-gray-300 font-bold border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white  px-3 py-2 rounded-lg text-sm md:text-base !hover:bg-gray-100 hover:!border hover:!border-white  hover:bg-gray-300 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Home Page</a>
      <!-- <a routerLink="/aboutlayout" routerLinkActive="bg-gray-300 font-bold border border-white !text-black   hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg" 
        class="text-white px-3 py-2 rounded-lg text-sm sm:text-base !hover:bg-gray-100 !hover:text-black transition-colors duration-200 ">
        About Us</a> -->
         <!-- About Dropdown -->

         <!-- class="flex items-center hover:text-gray-200" -->
    <div class="relative group">
      <button  routerLink="/aboutlayout" 
          routerLinkActive="!bg-purple-800 font-bold border border-white" 
       class="flex items-center text-white px-3 py-2 rounded-lg text-sm sm:text-base hover:bg-gray-100 hover:text-black transition-colors duration-200 "
      >
        About
        <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 9l-7 7-7-7" />
        </svg>
      </button>

      <!-- Dropdown items -->
      <div
        class="absolute left-0 mt-2 w-40 bg-white text-black rounded-lg shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
        <!-- <a routerLink="/aboutlayout" 
          class="block px-4 py-2 hover:bg-gray-100">About Us</a> -->
        <a routerLink="/aboutlayout/the-school"
          class="block px-4 py-2 hover:bg-gray-100">The School</a>
          <a routerLink="/aboutlayout/year-group"
          class="block px-4 py-2 hover:bg-gray-100">Year Group</a>
        <a routerLink="/aboutlayout/table-layout"
          class="block px-4 py-2 hover:bg-gray-100">Members</a>
        <a routerLink="/aboutlayout/table-layout/teachers"
          class="block px-4 py-2 hover:bg-gray-100">Teachers</a>
      </div>
    </div>

      <a routerLink="/gallery" routerLinkActive="bg-purple-800 font-bold  border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg" 
        class="text-white  px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Gallery</a>
      <a routerLink="/constitution-layout" routerLinkActive="purple-800 font-bold border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white  px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Constitution</a>
      <a routerLink="/location" routerLinkActive="bg-purple-800 font-bold border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white  px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Contact Us</a>
      <!-- <a (click)="scrollToContact()" routerLinkActive="bg-gray-300 font-bold border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
        class="text-white cursor-pointer px-3 py-2 text-sm md:text-base hover:!border hover:!border-white  hover:!bg-gray-100 hover:text-black transition-colors duration-200 hover:!rounded-lg">
        Contact</a> -->
    </div>

    <!-- Join button -->
    <button (click)="admin()" class="hidden md:block bg-yellow-400 text-white px-4 py-2 rounded-lg text-sm md:text-base">
      Join
    </button>
      <!-- <a routerLink="/login" routerLinkActive="bg-gray-300 font-bold border border-white hover:border hover:border-white hover:bg-gray-200 hover:!text-green-500 transition-colors duration-200 hover:rounded-lg"
      class="hidden md:block bg-red-500 text-white px-4 py-2 rounded-lg text-sm md:text-base"
       >
        Join</a> -->

    <!-- Mobile menu button -->
    <button (click)="toggleMenu()" class="md:hidden text-white text-2xl">
      ☰
    </button>
  </div>
  <!-- </div> -->

<!-- Mobile Dropdown -->
<div *ngIf="isMenuOpen" 
     class="md:hidden absolute right-0 mt-[20rem] bg-black w-[12rem] flex items-center flex-col mx-2 px-4 py-4 pb-4 space-y-2 z-40">
  <a routerLink="/homepage" (click)="toggleMenu()" class="block text-white">Home</a>
  <a routerLink="/aboutlayout" (click)="toggleMenu()" class="block text-white">About</a>
  <a routerLink="/gallery" (click)="toggleMenu()" class="block text-white">Gallery</a>
  <a routerLink="/constitution-layout" (click)="toggleMenu()" class="block text-white">Constitution</a>
  <a routerLink="/location" (click)="toggleMenu()" class="block text-white">Location</a>
  <a (click)="scrollToContact(); toggleMenu()" class="block text-white cursor-pointer">Contact</a>

   <button class="w- full bg-yellow-400 text-white font-semibold px-4 py-2 rounded-lg">
      Join 
    </button>
</div>



</div>





  <!-- HERO SECTION -->
   <div *ngIf="isBaseRoute">
<div class="bg-[url('/grouppic.jpg')] bg-no-repeat bg-center bg-cover h-[20rem] sm:h-[25rem] flex justify-center items-center mt-28">
  <div class="hidden md:flex flex-col sm:flex-row gap-6 sm:gap-10 text-center font-bold">
    <a routerLink="the-school">
     <div class="flex justify-center items-center   bg-black rounded-xl w-32 sm:w-40 h-24 sm:h-32 mx-auto shadow-red-500 shadow-2xl animate-bounce hover:animate-none">
      <img src="schlogo1.png" class="w-12">
    </div> 
      <p class="text-white bg-black font-extrabold text-base sm:text-lg mt-2 animate-bounce">The School</p>
    </a>
    <a routerLink="year-group">
      <div class="flex justify-center items-center bg-black rounded-xl w-32 sm:w-40 h-24 sm:h-32 mx-auto shadow-yellow-500 shadow-2xl animate-sideToSide hover:animate-none">
       <img src="helpinghand.png" class="w-12">
     </div>
      <p class="text-white bg-black font-extrabold text-base sm:text-lg mt-2 animate-bounce">Year Groups</p>
    </a>
    <a routerLink="table-layout">
      <div class="flex justify-center items-center bg-black rounded-xl w-32 sm:w-40 h-24 sm:h-32 mx-auto shadow-green-500 shadow-2xl animate-bounce hover:animate-none relative left-10">
       <img src="morterboard2.png" class="w-32">
      </div>
      <p class="text-white bg-black font-extrabold text-base sm:text-lg mt-2 animate-bounce relative left-10">Members</p>
    </a>
  </div>

  <div class="md:hidden flex gap-10 text-center">
    <a routerLink="the-school">
     <div class="bg-black flex justify-center items-center rounded-xl w-20 h-20 mx-auto shadow-red-500 shadow-2xl animate- bounce hover:animate-none">
      <img src="schlogo1.png" class="w-10">
    </div> 
      <p class="text-white bg-black font-semibold text-base mt-2 animate-bounce">The School</p>
    </a>
    <a routerLink="year-group">
      <div class="bg-black flex justify-center items-center rounded-xl w-20 h-20 mx-auto shadow-yellow-500 shadow-2xl animate- sideToSide hover:animate-none">
       <img src="helpinghand.png" class="w-12">
     </div>
      <p class="text-white bg-black font-semibold text-sm lg mt-2 animate-bounce">Year Groups</p>
    </a>
    <a routerLink="table-layout">
      <div class="bg-black flex justify-center items-center rounded-xl w-20 32 sm:w-40 h-20 24 sm:h-32 mx-auto shadow-green-500 shadow-2xl animate- bounce hover:animate-none relative left- 10">
       <img src="morterboard2.png" class="w-32">
      </div>
      <p class="text-white bg-black font-semibold text-base mt-2 animate-bounce relative left-">Members</p>
    </a>
  </div>

</div>

<!-- STATS SECTION -->
<div class="bg- gradient-to-b from-purple-500 via-purple-800 to-purple-900 px-4 opacity- 40 bg-gray-500">
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6 text-center text-white">
    <div>
      <p [appCountUp]="2022" class="font-bold text-2xl sm:text-3xl"></p>
      <p class="font-semibold text-sm sm:text-base">Established</p>
    </div>
    <div>
      <p [appCountUp]="50" class="font-bold text-2xl sm:text-3xl"></p>
      <p class="font-semibold">Students</p>
    </div>
    <div>
      <p [appCountUp]="22" class="font-bold text-2xl sm:text-3xl"></p>
      <p class="font-semibold">Female</p>
    </div>
    <div>
      <p [appCountUp]="28" class="font-bold text-2xl sm:text-3xl"></p>
      <p class="font-semibold">Male</p>
    </div>
    <div>
      <p [appCountUp]="49" class="font-bold text-2xl sm:text-3xl"></p>
      <p class="font-semibold">Nationality</p>
    </div>
    <div>
      <p [appCountUp]="1" class="font-bold text-2xl sm:text-3xl"></p>
      <p class="font-semibold">Foreigner(s)</p>
    </div>
  </div>
</div>

<!-- chairman's MESSAGE -->
<div *ngIf="isBaseRoute" class="flex flex-col lg:flex-row justify-between items-center gap-8 mt-6 mb-4 mx-4 lg:mx-10">
  <div class="p-4 lg:w-1/2">
    <p class="font-bold text-2xl sm:text-3xl mb-4">A Message From Our Chairman</p>
    <p class="text-sm sm:text-base leading-relaxed">
      Greetings from Ghana and from la St. Pauls Anglican 1 JSS School!<br/>
We are excited to welcome you to our School and to have<br/>
you visit virtually by taking a walk through our pages. For close<br/>
to 70 years, this great institution has charted a path of excellence<br/>
in education and continues to be a leader in transformational<br/>
and collaborative learning. We understand clearly that student learning,<br/>
wellbeing and development should be at the heart of all we do. Our dedicated<br/>
team of teaching staff demonstrate this daily to transform<br/>
how we live, learn and grow at la Anglican 1 JHS.<br/>
we are happy to<br/>
open our doors to people “from all the countries of the Earth”<br/>
 and are confident that Anglican 1 JSS will be a transformative experience,<br/>
whether you join the community as a student, parent, staff or<br/>
visitor. Walking through our hallways and visiting our classrooms,<br/>
we are convinced that every effort has been put into ensuring<br/>
a safe and caring environment for each and every member of our community.<br/>

Enjoy the virtual visit and when you are done, why not get in<br/>
 touch to arrange to meet us in person?<br/>

Looking forward to meeting you!
    </p>
  
  </div>
  <div class="lg:w-1/2 relative top-4">
    <img src="/seth.jpg" class="w-full md:h-[33rem] auto rounded-lg mb-10">
  </div>
</div>

</div>


<router-outlet></router-outlet>


 <!-- FOOTER -->
  <div id="contact" class="bg-gray-900">
    <div class="flex flex-col sm:flex-row justify-between items-center gap-6 p-6 text-white md:mx-[8rem]">
    <div class="space-y-3">
      <h1 class="font-bold">Street Address</h1>
      <p >La St. Paul's Anglican 1 JHS</p>
      <p >La Beach Road </p>
      <p >South La, Acrra-Ghana</p>
    </div>
    <div class="space-y-3">
      <h1 class="font-bold">Postal Address:</h1>
      <p >P. O. Box A64</p>
      <p >La, Accra,</p>
      <p >Ghana.</p>
    </div>
    <div class="space-y-1">
      <h1 class="font-bold">Phone & Email</h1>
      <p class="mt-">+23355667802</p>
      <p class="mt-">+23344126678</p>
      <p class="mt-">+23355981802</p>
      <p class="mt-">info&#64;anglosa194.com</p>
    </div>
    <div class="space-y-[6.5rem]">
      <h1 class="font-bold">Connect with us on social media</h1>
      <div class="flex gap-6 space-y-[-3rem]">
      <!-- <a href="https://wa.me/+233272062942" target="_blank" rel="noopener">
        <img src="whatsapp.png" class="w-8 sm:w-6">
      </a> -->
      <p></p>
       <a href="#"><img src="facebook.png" class="w-8 sm:w-6 "></a>
      <a href="#"><img src="instagram.png" class="w-8 sm:w-6"></a>
      <a href="#"><img src="twitter.png" class="w-8 sm:w-6"></a>
      </div>
    </div>
  </div>
</div>
</div>