

<div>

    <div class="">
        <img src="/jerry.png" class="rounded-full w-[15rem] h-[15rem]">
          <p class="mt-4 text-sm text-white/75 ">
              As an Executive Member, Jerry Eskin is a dedicated team 
              player who contributes significantly to the success and 
              growth of the Year Group. He brings a spirit of collaboration, 
              innovation, and commitment to every initiative, ensuring 
              that group objectives are met effectively. Jerry plays 
              an active role in planning events, supporting decision making, 
              and fostering unity among members. His dependable nature 
              and willingness to serve make him an essential pillar 
              within the executive team, helping to maintain a culture 
              of teamwork and continuous progress.
              </p>
    </div>

</div>
