
<div>

    <div class="">
        <img src="/seth.jpg" class="rounded-full ">
          <p class="mt-4 text-sm text-white/75 ">
                As Chairman, Seth Akwada provides the overall 
                vision and direction for the Year Group. 
                He ensures that the team’s goals align 
                with the shared aspirations of all members. 
                Through his strong leadership and commitment to 
                excellence, Seth fosters unity, encourages 
                collaboration, and represents the interests 
                of the group with integrity and transparency.
                He believes in empowering members to take active 
                roles in group initiatives and in building a 
                lasting legacy of cooperation and progress.
              </p>
    </div>

</div>
