
<div>

    <div class="">
        <img src="/ama.png" class="rounded-full w-[15rem] h-[15rem]">
          <p class="mt-4 text-sm text-white/75 ">
              As Secretary, Henrietta Osei is the heartbeat 
              of communication within the Year Group. She is 
              responsible for maintaining accurate records, 
              managing correspondence, and organizing meetings.
              Henrietta’s attention to detail and exceptional 
              organizational skills ensure that group activities 
              are well-documented and efficiently coordinated. 
              Beyond her administrative duties, she fosters a 
              culture of transparency and accountability, keeping 
              every member informed and engaged.
              </p>
    </div>

</div>