


<div class="overflow-hidden">

  <!-- EMAIL BAR -->
  <div class="bg-gradient-to-b from-purple-200 via-purple-400 to-purple-700 py-1 text-white">
    <div class="flex justify-center md:justify-start md:mx-20 items-center gap-2 text-xs sm:text-sm">
      <span class="material-symbols-outlined">mail</span>
      <span class="tracking-tight font-bold">anglosa194&#64;yahoo.com.gh</span>
    </div>
  </div>

  <!-- NAVBAR -->
<div class="bg- blue-800">
  <div class="flex justify-between items-center px-4 md:px-20 h-16 md:h-20">
    <!-- Logo -->
    <div class="flex items-center gap-2">
      <img src="/schlogo1.png" class="w-8 sm:w-10">
      <div class="font-bold tracking-tight leading-tight text-black">
      <p class="text-sm sm:text-base">Anglosa</p>
        <p>194</p>
        </div>
    </div>

      <!-- NAV LINKS (desktop) -->
      <div class="hidden md:flex gap-4">
        <a routerLink="/homepage" class="text-black px-3 py-2 text-sm md:text-base">Home Page</a>
        <a routerLink="/aboutlayout" class="text-black px-3 py-2 text-sm md:text-base">About Us</a>
        <a routerLink="/gallery" class="text-black px-3 py-2 text-sm md:text-base">Gallery</a>
        <a routerLink="/constitution" class="text-black px-3 py-2 text-sm md:text-base">Constitution</a>
        <a routerLink="/location" class="text-black px-3 py-2 text-sm md:text-base">Location</a>
        <a (click)="scrollToContact()" class="text-black cursor-pointer px-3 py-2 text-sm md:text-base">Contact</a>
      </div>

      <!-- CTA Button -->
      <button class="hidden sm:block bg-red-500 text-white font-semibold px-4 py-2 rounded-lg text-sm md:text-base">
        Join
      </button>


      <!-- Hamburger Menu (mobile) -->
      <button class="md:hidden text-white">☰</button>
    </div>
  </div>




<!-- admin.component.html -->
<div class="lg:mt-10 mt-20">
  <div class="overflow-x-auto">
    <table class="min-w-full table-auto text-[#353535]" id="Data">
      <thead class="bg-gray-100 text-left">
        <tr>
          <th class="px-4 py-2">Unit ID</th>
          <th class="px-4 py-2">Unit Name</th>
          <th class="px-4 py-2">Description</th>
          <th class="px-4 py-2">Description 2</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="border-b border-gray-200"
          *ngFor="let item of APIData; let i = index"
        >
          <td class="px-4 py-2">#{{ item.id }}</td>
          <td class="px-4 py-2">{{ item.name }}</td>
          <td class="px-4 py-2">{{ item.description }}</td>
          <td class="px-4 py-2">{{ item.Dada }}</td>
           <td class="px-4 py-2">{{ item.sojay }}</td>

          <!-- <td class="p-2 flex gap-2">
            <button
              nz-button
              nzType="primary"
              (click)="selectedId(item)"
              class="text-blue-600"
            >
              <span class="material-symbols-outlined">stylus_note</span>
            </button>

            <button
              nz-button
              nzType="default"
              class="text-red-600"
              (click)="deleteUnit(item.id)"
            >
              <span class="material-symbols-outlined">delete</span>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

