<div class="">


<div class="bg-[url('/grouppic.jpg')] bg-no-repeat bg-center h-[25rem]">
<div class="flex gap-10 justify-center items-center relative top-40 font-bold">
<!-- <a routerLink="the-school"> -->
    <button (click)="theSch()"><img src="morterboard2.png" class="bg-black rounded-xl w-40 shadow-black shadow-2xl animate-bounce"><p class="text-red-800 text-lg text-center animate-bounce">The School</p></button>
<!-- <a routerLink="year-group"> -->
    <button (click)="yearGroup()"><img src="multipleusers2.png" class="bg-black rounded-xl w-40 h-32 shadow-black shadow-2xl animate-sideToSide"><p class="text-red-800 text-lg text-center animate-bounce">Year Groups</p></button>
<!-- <a routerLink="volunteers"> -->
    <button (click)="volunteer()" class="relative left-6"><img src="morterboard2.png" class="bg-black rounded-xl w-40 shadow-black shadow-2xl animate-bounce"><p class="text-red-800 text-lg text-center animate-bounce">The School</p></button>
</div>
</div> 



<div class="">

<div class="flex justify-between text- center mt-10 mb-10 mx-10 bg-gray-300">
<div class="border-2 shadow-xl ">
<p class="font-bold text-[30px] mx-4 mt-32 "> A Message From Our Principal</p>
 
<p class="mx-4 ">Greetings from Ghana and from Ghana International School!<br/>
We are excited to welcome you to our School (GIS) and to have<br/>
you visit virtually by taking a walk through our pages. For close<br/>
to 70 years, this great institution has charted a path of excellence<br/>
in international education and continues to be a leader in transformational<br/>
and collaborative learning. We understand clearly that student learning,<br/>
wellbeing and development should be at the heart of all we do. Our dedicated<br/>
team of teaching and non-teaching staff demonstrate this daily to transform<br/>
how we live, learn and grow at GIS.  As a school accredited by<br/>
both the NEASC (New England Association of Schools and Colleges)<br/>
and the CIS (Council of International Schools), we are happy to<br/>
open our doors to people “from all the countries of the Earth”<br/>
 and are confident that GIS will be a transformative experience,<br/>
whether you join the community as a student, parent, staff or<br/>
visitor. Walking through our hallways and visiting our classrooms,<br/>
we are convinced that every effort has been put into ensuring<br/>
a safe and caring environment for each and every member of our community.<br/>

Enjoy the virtual visit and when you are done, why not get in<br/>
 touch to arrange to meet us in person?<br/>

Looking forward to meeting you!<br/>
</p>
 

<p class="mt-10 mx-4">
Frank D. Amponsah-Mensah Esq.<br/>
Principal/Head of School<br/>
</p>
</div>

<div class="border-2 shadow-xl">
    <img src="/blackcoat.jpg" class="w-[36rem]">
</div>
</div>


<!-- </div> -->



    

<div class="flex justify-between text- center mt-10 mb-10 mx-10 bg-gray-300">
<div class="border-2 shadow-xl ">
<p class="font-bold text-[30px] mx-4 mt-32 "> A Message From Our Principal</p>
 
<p class="mx-4 ">Greetings from Ghana and from Ghana International School!<br/>
We are excited to welcome you to our School (GIS) and to have<br/>
you visit virtually by taking a walk through our pages. For close<br/>
to 70 years, this great institution has charted a path of excellence<br/>
in international education and continues to be a leader in transformational<br/>
and collaborative learning. We understand clearly that student learning,<br/>
wellbeing and development should be at the heart of all we do. Our dedicated<br/>
team of teaching and non-teaching staff demonstrate this daily to transform<br/>
how we live, learn and grow at GIS.  As a school accredited by<br/>
both the NEASC (New England Association of Schools and Colleges)<br/>
and the CIS (Council of International Schools), we are happy to<br/>
open our doors to people “from all the countries of the Earth”<br/>
 and are confident that GIS will be a transformative experience,<br/>
whether you join the community as a student, parent, staff or<br/>
visitor. Walking through our hallways and visiting our classrooms,<br/>
we are convinced that every effort has been put into ensuring<br/>
a safe and caring environment for each and every member of our community.<br/>

Enjoy the virtual visit and when you are done, why not get in<br/>
 touch to arrange to meet us in person?<br/>

Looking forward to meeting you!<br/>
</p>
 

<p class="mt-10 mx-4">
Frank D. Amponsah-Mensah Esq.<br/>
Principal/Head of School<br/>
</p>
</div>

<div class="border-2 shadow-xl">
    <img src="/blackcoat.jpg" class="w-[36rem]">
</div>
</div>


</div>
