
<div>

    <div class="">
        <img src="/laryea.png" class="rounded-full w-[15rem] h-[15rem]">
          <p class="mt-4 text-sm text-white/75 ">
                Emmanuel Laryea, our Treasurer, oversees the 
                financial health of the Year Group. He ensures 
                that all funds are properly managed, budgets are 
                well-planned, and every transaction is transparent 
                and accountable. Emmanuel is committed to responsible 
                stewardship of the group’s resources, promoting 
                trust and financial discipline. His strategic 
                approach to planning and budgeting supports the 
                long-term sustainability of the group’s projects and 
                initiatives.
              </p>
    </div>

</div>